<!DOCTYPE html>
<html>
  <head>
    <title>Create Customer</title>
  </head>
  <body>
    <form style="text-align:center;" action="/new_customer" method="POST" accept-charset="utf-8">
      <div>
        <label for="name">Name: </label>
        <br><br>
        <input type="text" name="name" id="name">
        <br><br>
        <p>Please enter your billing address bellow: </p>
        <br><br>
        <label for="street_address">Street address: </label>
        <br><br>
        <input type="text" name="street_address" id="street_address">
        <br><br>
        <label for="city">City: </label>
        <br><br>
        <input type="text" name="city" id="city">
        <br><br>
        <label for="state">State: </label>
        <br><br>
        <input type="text" name="state" id="state">
        <br><br>
        <label for="zip_code">Zip Code: </label>
        <br><br>
        <input type="text" name="zip_code" id="zip_code">
        <br><br>
        <label for="country">Country: </label>
        <br><br>
        <input type="text" name="country" id="country">
        <br><br>
        <%# <p>Please enter your card info bellow:</p>
        <br><br>
        <label for="card_number">Card Number: </label>
        <br><br>
        <input type="text" name="card_number" id="card_number"> %>
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
